<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Modelo Y</h2>
            <p class="text-black text-sm underline">Concertar una prueba de conducción</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-4 flex ms-auto me-auto">
                <a href="#" class="bg-gray-600 border-[3px] border-gray-600 text-sm rounded font-base px-12 py-2 text-white hover:border-black hover:bg-black hover:text-white transition-colors duration-300">Explorar inventario</a>
                <a href="#" class="bg-white border-[3px] border-white text-sm rounded font-base px-12 py-2 transition-colors hover:border-black hover:bg-black hover:text-white duration-300 inline-flex justify-flex items-center">Pedido personalizado</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/model-y.avif" alt="Model Y" class="object-center object-cover h-full w-full">
    </div>
</section>